<footer class="text-white bg-dark pt-5 pb-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                  <h3><strong><span class="text-success">GitHub Users</span></strong></h3>
                </div>
            </div>

            <!-- Links To Different Parts & Pages -->
            <div class="col">
                <div class="">
                    <h3>Useful Links:</h3>
                </div>
                <div class="col" id="footer-links">
                    <p class=""><a href="index.html"><strong>Home</strong></a></p>
                    <p><a href="###"><strong>GitHub Users</strong></a></p>
                    <p><a href="###"><strong>Repositories</strong></a></p>
                    <p><a href="https://streetgm.gumroad.com/" target="_blank"><i class="fas fa-shopping-cart"></i> <strong> Shop</strong></a></p>                                             
                </div>
            </div>

            <!-- Social Media Linked -->
            <div class="col">             
                <div class="">
                    <h3>Social Media:</h3>
                </div>
                <div class="row">
                    <div class="col" id="footer-links">
                        <p><a href="https://www.facebook.com/streetgrandmaster" target="_blank"><span id="socialMedia"><i class="fab fa-facebook-square"></i></span> <strong> Facebook</strong></a></p>
                        <p><a href="https://www.instagram.com/streetgrandmaster" target="_blank"><span id="socialMedia"><i class="fab fa-instagram-square"></i></span> <strong> Instagram</strong></a></p>
                        <p><a href="https://www.twitter.com/LawiGrandmaster" target="_blank"><i class="fab fa-twitter-square"></i> <strong> Twitter</strong></a></p>
                        <p><a href="https://www.linkedin.com/in/streetgrandmaster" target="_blank"><i class="fab fa-linkedin"></i> <strong> LinkedIn</strong></a></p>
                    </div>
                    <div class="col" id="footer-links">
                        <p><a href="https://www.quora.com/profile/Lawi-Otieno" target="_blank"><i class="fab fa-quora"></i> <strong> Quora</strong></a></p>
                        <p><a href="https://www.pinterest.com/streetgrandmaster" target="_blank"><i class="fab fa-pinterest-square"></i> <strong> Pinterest</strong></a></p>
                        <p><a href="https://www.reddit.com/user/streetgm" target="_blank"><i class="fab fa-reddit-square"></i> <strong> Reddit</strong></a></p>
                        <p><a href="https://www.wa.me/254745610178" target="_blank"><i class="fab fa-whatsapp-square"></i> <strong> WhatsApp</strong></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pt-5" id="footer-links">
            <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> <a href="index.html"><strong><span class="text-success">GitHub Users</span></strong>.</a> All Rights Reserved</p>
        </div>
    </div>
</footer>
