/* .card {
    background: rgb(228, 223, 223) none repeat scroll 0 0;
    border: 2px solid white;
    border-radius: 3px;
    box-shadow: 0 0 11px 5px rgb(103 58 183 / 50%);
    margin-bottom: 30px;
    padding: 20px 10px;
  }

.content-end{
    float: right;
} */