<!-- Linked Navbar Component Here -->
<app-navbar></app-navbar>

<div class="container mt-3">
  <!-- Connected Search Component Below -->
  <app-search (searchResult)="searchUser($event)"></app-search>
  <div class="row mt-5 mb-5">
    <div class="row justify-content-around">
      <div class="col-4">
        <img src="{{user.avatar_url}}" class="rounded-circle img-fluid" alt="Avatar">
      <!-- </div>
      <div class="col-4">
        <h2 class="mt-5 mb-4">Name: <u><em>{{user.name}}</em></u></h2>
        <p>User Name: <span class="bg-info px-3 text-white rounded"><strong>{{user.login}}</strong></span></p>
        <p>Followers: <span class="bg-info px-3 text-white rounded"><strong>{{user.followers}}</strong></span></p>
        <p>Following: <span class="bg-info px-3 text-white rounded"><strong>{{user.following}}</strong></span></p>
        <p>Repositories: <span class="bg-info px-3 text-white rounded"><strong>{{user.public_repos}}</strong></span>
        </p>
      </div> -->
    </div>
  </div>
  <br>

  <!-- Bio, Social Accounts -->
  <!-- <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">BIO</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Social Accounts</h5>
          <p class="card-text">Twitter: </p>
          <p class="card-text">Website: </p>
          <p class="card-text">GitHub: </p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- ********** Repos & Details ********** -->
  <div class="row repo">
    <h1 class="text-center text-white bg-primary rounded">REPOSITORIES</h1>
    <div class="col-md-3" *ngFor="let repo of repos">
      <br>
      <div class="card card-repo">
        <div class="card-body">
          <h5 class="card-title heading text-center"> {{ repo.name }} </h5>
          <span class="content-end"><a href="{{ repo.html_url }}" target="_blank" class="btn btn-warning">View on GitHub</a></span>
        </div>
        <div class="card-body">
          <p class="card-text mt-2 text-center">{{repo.description}}</p>
        </div>
        <div class="card-body text-center">
          <p class="card-text">Created: <strong>{{repo.created_at| dateCount}}</strong> </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Linked Footer Component Here -->
<app-footer></app-footer>
